// hazard3 Application Definition

// App name is used for output files etc. It must be the first non-blank
// non-comment line in the file.
app hazard3

// Currently the board information is inlined. It would be nice to refer to an
// external file, like we already do for chip definitions.
board rp2350-pico2 {
    chip "proj:chips/hazard3.kdl"
}

// Instructions for building the kernel.
kernel {
    // We'll pull in a kernel definition from hubris-fork git repo.
    workspace-crate kernel-generic-hazard3
    // The kernel itself should provide this information eventually, but for now
    // we have to state it:
    stack-size 2048
    // disable default features for now
    no-default-features
}

// Supervisor task. Every nontrivial application needs one. The exhubris
// minisuper implementation is good for most simple systems.
task super {
    workspace-crate minisuper
    stack-size 384
    priority 0
}

// blinky task. Blinks an external led
task blinky {
    workspace-crate blinky
    stack-size 256
    priority 1
    // uses-peripheral sio
    // uses-peripheral io_bank0
    // uses-peripheral pads_bank0
    uses-peripheral peripherals
}

// Idle task. Every application needs one, few applications want to write their
// own. We pull in a standard one from git:
task idle {
    workspace-crate idle
    stack-size 256
    priority 2
    // This makes Humility work a _lot_ better.
    features insomniac
}
