file .work/hazard3/final/kernel

target extended-remote localhost:3341

add-symbol-file .work/hazard3/final/super
add-symbol-file .work/hazard3/final/idle

# print demangled symbols
set print asm-demangle on

# set backtrace limit to not have infinite backtrace loops
set backtrace limit 32

# detect hard faults
# break HardFault

#monitor riscv semihosting enable
