#gdb port 3341
#telnet port 4451

adapter speed 5000

# OpenOCD configuration for the RP2350 Hazard3 RISC-V processor
source [find interface/cmsis-dap.cfg]

# Probe both Cortex-M33 cores
#set USE_CORE { cm0 cm1 }
set USE_CORE cm0

# Do the rest of the DP setup
source [find target/rp2350.cfg]
